h1{
    margin-left: 20px;
    margin-top: 50px;
}

.content{
    color: black;
}

h2{
    font-weight: bold;
    font-size: 22px;
    padding-top: 20px;
    margin-left: 10px;
}

.card{
    color: black;
    border-radius: 10px;
    width: 95%;
    position: absolute;
    left: 10px;
    top: 160px;
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
}

.image-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h4{
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 18px;
    color: #f04f59;;
}

.card-text{
    font-size: 14px;
    line-height: 16px;
    margin: 15px;
}

.markets{
    width: 100%;
    position: relative;
    top: 250px;
}

.market-card{
    margin-bottom: 10px;
}

.vendor{
    position: absolute;
    bottom: 10px;

    h3{
        margin-left: 10px;
        font-size: 16px;
    }
}

.logout{
    position: fixed;
    top: 0;
    right: 1%;
}
