<ion-content color="primary">
  <h1>¡Vamos a comprar!</h1>

  <div class="content">
    <h2>Busca en tu tianguis más cercano...</h2>

    <div class="card" routerLink="/tabs/tab3">
      
      <img class="image-card" src="../../../assets/img/stock_market_preview.png">
      
      <div class="card-text">
        <p>
          <b>Tianguis de Tlalpan</b>
        </p>
        <p>San Buenaventura, San Andrés Totoltepec, Tlalpan</p>
      </div>

    </div>

    <div class="markets">
      <h2>Los mercados dentro de la red de tianguito</h2>

      <div class="market-card">
        <h4>MERCADO PRUEBA</h4>
      </div>

      <!--
      <div class="markets" *ngFor="let market of markets">
        <div class="market-card">
          <h4>{{market.name}}</h4>
        </div>
      </div>
      -->

    </div>

    <div class="logout">
      <ion-button color="danger" (click)="logout()">Cerrar Sesión</ion-button>
    </div>

  </div>

</ion-content>
