<ion-content color="primary">
  <h1 routerLink="/tabs/tab3" *ngIf="!cartPage">Tu tianguis</h1>
  <h1 routerLink="/tabs/tab3" *ngIf="cartPage" (click)="cartPage = false; standPage = true">Carrito</h1>

  <div class="content">

    <!-- PANTALLA DE CARRITO -->

    <div class="product-page" *ngIf="cartPage">

      <div class="product-card cart-card" *ngFor="let item of purchase;">
        <h3>{{item.name}}</h3>
        <p>
         Cantidad: {{item.quantity}}
        </p>
        <p class="price">$ {{item.price * item.quantity}} MXN</p>
  
        <hr>
      </div>

      <div class="total">
        <div class="owo">Total</div>
        <div class="price lel">$ {{totalPrice}}</div>
      </div>

    </div>

    <!-- PANTALLA DE PRODUCTO -->

    <div class="product-page" *ngIf="productPage">
      <h2>{{products[index].name}}</h2>

      <p class="description">
        {{products[index].stand}}
      </p>
      <p>
        {{products[index].description}}
      </p>
      <p class="price">
        ${{price}} MXN
      </p>

      <div>
        <label for="cuantity">Cantidad</label>
        <br>
        <input type="number" id="cuantity" placeholder="0" #quantity (keyup)="productQuantity(quantity.value)">
      </div>

      <div class="ion-text-center">
        <ion-button type="submit" size="large" class="btn" (click)="addProduct(products[index]); productPage=false; standPage=true">
          Comprar
        </ion-button>
      </div>

      <div class="ion-text-center">
        <ion-button size="large" class="btn back" color="tertiary" (click)="productPage = false; standPage = true; this.price = this.products[0].price">
          Atrás
        </ion-button>
      </div>
    </div>

    <!-- PANTALLA DE STAND -->

    <div *ngIf="standPage">

      <div class="stand-card">
        <h4>Puesto de Fruta de Don Miguel</h4>
        <p>
          La fruta más fresca y deliciosa del lugar sólo la tiene Don Miguel. 
        </p>
      </div>
    
      <div class="product-card" *ngFor="let product of products; let i = index;" (click)="productPageAppear(i); standPage = false;">
        <h3>{{product.name}}</h3>
        <p>
          {{product.description}}
        </p>
        <p class="price">$ {{product.price}} MXN</p>
    
        <hr>

      </div>
        <ion-button class="cart-btn" color="primary" (click)="cart()" *ngIf="!cartPage">
          <ion-icon name="cart"></ion-icon>
          Carrito ( {{purchase.length}} )
        </ion-button>
      </div>
      
    </div>


</ion-content>
