:root {

  --ion-font-family: 'Nunito', sans-serif;

  --ion-color-primary: #CC0A3B;
  --ion-color-primary-rgb: 238,59,71;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d1343e;
  --ion-color-primary-tint: #f04f59;

  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255,255,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0e0e0;
  --ion-color-secondary-tint: #ffffff;

  --ion-color-tertiary: #FF5364;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #CC0A3B;
  --ion-color-tertiary-tint: #f04f59;

  --ion-color-dark: #E3E3E3;
  --ion-color-dark-rgb: 71,71,71;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #3e3e3e;
  --ion-color-dark-tint: #595959;
 
}