.wrapper{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
}

.tittle{
    font-weight: bold;
    padding: 40px;
}

h2 {
    font-size: 22px;
    margin: 10px;
}

.btn-register{
    width: 90%;
    margin-left: 18px;
    margin-top: 30px;
    font-weight: bold;
}

p{
    margin: 10px;
}

a{
    color: white;
    text-decoration: underline;
}